#temporary oxygine files
data-ram/

#builded dll's for visual studio project
data/*.dll

#all project files
proj*/

#some Visual Studio solution files
*.suo

#another bunch of IDE files
.idea

#dunno what this is for, took it from framework .gitignore file
build-proj*
ident.free
*.orig
.gradle/
xcuserdata
contents.xcworkspacedata
*.xcscmblueprint
temp/
build_helloworld_*
*.exp
*.pdb
*/Debug_v*
build
.DS_Store
*.pyc
*.opensdf
*.sdf








